.nav-wrapper {
    background-color: #6495ED;
    border-color: #E7E7E7;
}

.container-fluid{
	margin: 40px;	
}

.catalogue-img {
	width: 200px;
	height: 200px;
}

.list-group-item li {
	width: 200px;
}